{%extends 'poll/homebase.html'%}
{%block title%}
    Change your password
    {%block content%}
    {%load static%}
    <div class="top-content" style="background-image:url({% static 'poll/img/backgrounds/7.jpg' %});">   
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text">
                        <h1><strong>ELECAM</strong> Registration Campaign</h1>
                        <div class="description">
                            <p>
                                By default, your password was the same as your user name that is your ID card number 
                                you can change this here. For more iformation go to <a href="http://elecam.gov"><strong>ELECAM</strong></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 form-box">
                        <div class="form-top" style="margin-top:0%;">
                            <div class="form-top-left">
                            {%if error%}
                            <h2 class="er"><i>{{error}}</i></h3>
                            {%else%}
                                <h3>PASWORD</h3>
                            {%endif%}
                            </div>
                        </div>
                        <div class="form">
                            <form role="form" action="{%url 'poll:chPW'%}" method="post" class="registration-form">
                                {%csrf_token%}
                                <fieldset>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-dob">Email</label>
                                        <input type="text" name="prev" placeholder="Actual password" class="form-date form-control" id="form-date">
                                    </div>
                                    <div class="form-group">
                                         <label class="sr-only" for="form-pob">Last name</label>
                                         <input type="text" name="new" placeholder="New Password" class="form-pob form-control" id="form-pob">
                                     </div>
                                
                                    <div class="form-group">
                                    <button type="submit" class="btn">Sign me up!</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    {%endblock%}
{%endblock%}