{% extends "poll/homebase.html" %}
{%block title%}Admin page{% endblock %}

{%block content%}
		<!-- Top content -->
		{% load bootstrap %}
		{%load static%}
        <div class="top-content" style="background-image:url({% static 'poll/img/backgrounds/7.jpg' %});">
        	
            <div class="inner-bg">
				
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 text">
                            <h1><strong>ELECAM</strong> Registration Campaign</h1>
                            <div class="description">
                            	<p>
	                            	This is a platform for registration of voters for the 2018 Presidential Elections. 
	                            	For more iformation go to <a href="http://elecam.gov"><strong>ELECAM</strong></a>
                            	</p>
                            </div>
                        </div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top" style="margin-top:0%;">
                        		<div class="form-top-left">
								{%if error%}
								<h2 class="er"><i>{{error}}</i></h3>
								{%else%}
                        			<h3>Register here</h3>
                            		<p>Fill in the form below:</p>
								{%endif%}
                        		</div>
                            </div>
                            <div class="form">
			                    <form role="form" action="{%url 'poll:regVoter'%}" method="post" class="registration-form">
									{%csrf_token%}
									<fieldset>
										<div class="col-md-4 col-md-offset-4">
											<button type="button" style="background:transparent;border:none" data-toggle="modal" data-target="#myModal">
												{% if picture%}
												<img src={{picture}} class="img-responsive">
												{%else%}
												<img src="{% static 'poll/img/webcam.png' %}" class="img-responsive" />
												{% endif %}
											</button>
											<h4 class="text-center">Picture</h4>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="form-last-name">First Name</label>
											 <input type="text" name="name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">
										 </div>
									   <div class="form-group">
											<label class="sr-only" for="form-last-name">Last name</label>
											<input type="text" name="surname" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
										</div>
										<div class="form-group">
											<label class="sr-only" for="form-dob">Email</label>
											<input type="date" name="dob" class="form-date form-control" id="form-date">
										</div>
										<div class="form-group">
											 <label class="sr-only" for="form-pob">Last name</label>
											 <input type="text" name="pob" placeholder="Place of birth" class="form-pob form-control" id="form-pob">
										 </div>
									
										<div class="form-group">
										<button type="submit" class="btn">Sign me up!</button>
										</div>
									</fieldset>
								</form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
		</div>
{% endblock %}
	