{% extends "poll/homebase.html" %}
{%block title%}Welcome{% endblock %}
{%block addload%}
    {%load static%}
    <script src="{% static '/poll/Highcharts-6.1.0/code/js/highcharts.src.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    
 
    <link rel="stylesheet" href="{% static 'poll/css/style1.css' %}">
    {%endblock%}
{%block content%}
{%load static%}
<div class="top-content" style="background-image:url({% static 'poll/img/backgrounds/7.jpg' %});">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 text">
                        <h1 class="wow fadeInLeftBig" data-wow-duration="1.5s" data-wow-delay="1s">
                            2018 Election <strong>Coming Soon</strong>
                        </h1>
                        <div class="description wow fadeInLeftBig" data-wow-duration="1.5s" data-wow-delay="2s">
                            <p>
                                Befor the Election day, this plaform is only acessible by the ELECAM registration agents
                                and the President of the supreme cout. You are advised to <a href="{% url 'poll:pw' %}"><strong style="color: red;">your password</strong></a> for secutity 
                                purpose
                            </p>
                        </div>
                        <div class="timer wow fadeInUp">
                            <p id="demo" class="timer" style="color:red;"></p>
                        </div>

    <script>
    // Set the date we're counting down to
    var countDownDate = new Date("Oct 11, 2018 00:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();
        
        // Find the distance between now an the count down date
        var distance = countDownDate - now;
        
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        //Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = days + "days " + hours + "h "
        + minutes + "min" + seconds + "sec ";
        
        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
    </script>
                    </div>
                </div>
            </div>
        </div> 
</div>
{%endblock%}
<!-- Javascript -->
{%load static%}
<script src="{% static 'poll/js/jquery-1.11.1.min.js'%}"></script>
<script src="{% static 'poll/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static 'poll/js/jquery.backstretch.min.js'%}"></script>
<script src="{% static 'poll/js/jquery.countdown.min.js'%}"></script>
<script src="{% static 'poll/js/wow.min.js'%}"></script>
<script src="{% static 'poll/js/retina-1.1.0.min.js'%}"></script>
<script src="{% static 'poll/js/scripts.js'%}"></script>
