	{% load static%}
	<div id="myslideshow" style="background:white;">
		<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
		<div id="wowslider-container1">
		<div class="ws_images"><ul>
			<li><img src="{%static 'poll/data1/images/4.jpg' %}" alt="4" title="PROMOTING DEMOCRATY" id="wows1_0"/></li>
			<li><img src="{%static 'poll/data1/images/5.jpg' %}" alt="5" title="SECURE OUR CHOICES" id="wows1_1"/></li>
			<li><img src="{%static 'poll/data1/images/7.jpg' %}" alt="7" title="SEND MESSAGES TO THE CAMEROONIANS" id="wows1_2"/></li>
			<li><img src="{%static 'poll/data1/images/8.jpg' %}" alt="8" title="TOMOROW STARTS TODAY" id="wows1_3"/></li>
			<li><img src="{%static 'poll/data1/images/9.jpg' %}" alt="9" title="THIKING ABOUT OUR FUTURE" id="wows1_4"/></li>
			<li><a href="http://wowslider.com"><img src="{%static 'poll/data1/images/14.jpg" alt="responsive slider" title="14" id="wows1_5"/></a></li>
			<li><img src="{%static 'poll/data1/images/17.png" alt="17" title="17" id="wows1_6"/></li>
		</ul></div>
		<div class="ws_bullets"><div>
			<a href="#" title="4"><span><img src="{%static 'poll/data1/tooltips/4.jpg' %}" alt="4"/>1</span></a>
			<a href="#" title="5"><span><img src="{%static 'poll/data1/tooltips/5.jpg' %}" alt="5"/>2</span></a>
			<a href="#" title="7"><span><img src="{%static 'poll/data1/tooltips/7.jpg' %}" alt="7"/>3</span></a>
			<a href="#" title="8"><span><img src="{%static 'poll/data1/tooltips/8.jpg' %}" alt="8"/>4</span></a>
			<a href="#" title="9"><span><img src="{%static 'poll/data1/tooltips/9.jpg' %}" alt="9"/>5</span></a>
			<a href="#" title="14"><span><img src="{%static 'poll/data1/tooltips/14.jpg' %}" alt="14"/>6</span></a>
			<a href="#" title="17"><span><img src="{%static 'poll/data1/tooltips/17.png' %}" alt="17"/>7</span></a>
		</div></div><div class="ws_script" style="{%static 'poll/position:absolute;left:-99%' %}"><a href="http://wowslider.com/vi">slider</a> by WOWSlider.com v8.7</div>
		<div class="ws_shadow"></div>
		</div>
	</div>	
	{% load static%}
	<script type="text/javascript" src="{%static 'poll/engine1/wowslider.js' %}"></script>
	<script type="text/javascript" src="{%static 'poll/engine1/script.js' %}"></script>
	<!-- End WOWSlider.com BODY section -->
