{% extends "poll/homebase.html" %}
{%block title%}Make a Choice{% endblock %}
{%block addload%}
    {%load static%}
    <link rel="stylesheet" href="{% static 'poll/css/style1.css' %}">
{%endblock%}

{%block content%}
		<!-- Top content -->
		{% load bootstrap %}
		{%load static%}
        <div class="top-content" style="background-image:url({% static 'poll/img/backgrounds/7.jpg' %});">
        	
            <div class="inner-bg">
                    <div class="container">
                            <div class="row">
                                <div class="col-sm-8 text">
                                    <h1 class="wow fadeInLeftBig" data-wow-duration="1.5s" data-wow-delay="1s">
                                        2018 Election <strong>Day</strong>
                                    </h1>
                                    <div class="timer wow fadeInUp">
                                        <p id="demo" class="timer"></p>
                                    </div>
                
                <script>
                // Set the date we're counting down to*
                //please put the current date here below(replace June 10)
                var countDownDate = new Date("June 17, 2018 23:59:59").getTime();
                
                // Update the count down every 1 second
                var x = setInterval(function() {
                
                    // Get todays date and time
                    var now = new Date().getTime();
                    
                    // Find the distance between now an the count down date
                    var distance = countDownDate - now;
                    
                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
                    //Output the result in an element with id="demo"
                    document.getElementById("demo").innerHTML =hours + "h "
                    + minutes + "min" + seconds + "secs";
                    
                    // If the count down is over, write some text 
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("demo").innerHTML = "EXPIRED";
                    }
                }, 1000);
                </script>
                                </div>
                                <div class="col-sm-8"> 
                                    <div class="form-up">
                                        <form class="registration-form" role="form" action="{%url 'poll:vote'%}" method="post">
                                            {% csrf_token %}
                                           <div class="form-group">
                                            <p>
                                                <label for="from-name">party</label>
                                                <select name="party" class="form-control">
                                                    {%for p in party%}
                                                        <option value={{p.p_acronyme}}>{{p.p_acronyme}}</option>
                                                    {%endfor%}
                                                </select>
                                            </p>
                                            </div>
                                            <button type="submit" class="btn">Register</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
		</div>
{% endblock %}
	